/* navbar */

.navbar-light{
  background-color: #1886dd !important;
  border-color: #1886dd !important;
  border-radius: 15px 15px 0px 0px;
}

.icon-position {
  margin-left: 20px;
}

.header-title {
  padding-left: 15px;
  color: white;
}
