@import '../../../../assets/styles/vars.scss';

footer {
  height: 100%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: $primary-blue;
  margin-top: 20px;
  margin-bottom: 30px;
}
