.panel-default {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-container {
  margin-top: 20px !important;
  margin-left: 330px !important;
  // margin-right: 10px !important;
}
